/* .header {
  overflow-y: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 69, 185, 1) 100%
  );
  background-attachment: fixed;
} */