.container-navigation {
  /* background-color: rgba(255, 255, 255, 0.9); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.nav ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
}

.nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 2px;
  font-size: 18px;
}

/* MENU SANDWICH */
#sandwich {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: fixed;
  z-index: 2;
  cursor: pointer

}

#sandwich span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background-color: var(--color-white);
  transition: all 250ms ease;
  transform-origin: 0px 100%;
}

#sandwich span:nth-child(2) {
  top: calc(50% - 2px);
}

#sandwich span:nth-child(3) {
  bottom: 0;
}

.visible_menu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.visible_menu span:nth-child(2) {
  opacity: 0;
}

.visible_menu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.visible_menu .nav{
	left: 0;
	opacity: 1;
}

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	height: 100%;
	width: 250px;
	z-index: 1;
	padding: 70px 20px 20px;
	background-color: var(--color-white-opacity-2);
	transition: all 750ms ease;
	overflow-y: auto;
}

.nav ul li:hover::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-orange);
    animation: effectUl 400ms ease;
}

@keyframes effectUl {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 10px;
	transition: all ease 250ms;
}

.visible_menu #content{
	transition: all 750ms ease;
    transform: translateX(260px);
}